<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>
	<div id="detail-page" style="position: absolute"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<div class="row-full shadow full-screen">
			<div class="ion-padding">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<ion-row class="hr-group">
							<ion-col size="12" size-md="12" size-lg="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Overtime' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-md="12" size-lg="12" size-xl="8">
								<app-form-control (change)="saveChange();" [field]="{id:'Name', label:'Name', type:'text', form:formGroup}"></app-form-control>
								<app-form-control
									(change)="saveChange();"
									[field]="{id:'Type', label:'Shift type', type:'ng-select', dataSource:typeList, bindLabel:'Name', bindValue:'Code', form:formGroup,appendTo:'#detail-page'}"
								></app-form-control>
								<app-form-control (change)="saveChange();" [field]="{id:'Start', label:'Starting time', type:'time', form:formGroup}"></app-form-control>
								<app-form-control (change)="saveChange();" [field]="{id:'End', label:'Finishing time', type:'time', form:formGroup}"></app-form-control>
								<app-form-control
									(change)="saveChange();"
									[field]="{id:'MaxMinuteOfOTInCycle', label:'Maximum overtime of the period (minutes)', type:'number', form:formGroup}"
								></app-form-control>
								<app-form-control (change)="saveChange();" [field]="{id:'IsOvernightShift', label:'Overnight', type:'checkbox', form:formGroup}"></app-form-control>
							</ion-col>
						</ion-row>

						<ion-row class="hr-group">
							<ion-col size="12" size-md="12" size-lg="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Rate' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>

							<ion-col size="12" size-md="12" size-lg="12" size-xl="8">
								<ion-row class="hr-group" *ngFor="let g of formGroup.controls.PolRateOvertimes.controls">
									<ion-col size="12" size-md="12" size-lg="12" size-xl="6">
										<app-form-control (change)="saveChange();" [field]="{id:'Rate', label:'Rate', type:'number', form: g}"></app-form-control>
										<app-form-control
											(change)="saveChange();"
											[field]="{id:'BonusPercentage', label:'Bonus percentage', type:'number', form: g}"
										></app-form-control>

										<app-form-control
											(change)="saveChange();"
											[field]="{id:'IsAddBonusBenefit', label:'Add bonus benefit', type:'checkbox', form: g}"
										></app-form-control>
									</ion-col>
									<ion-col size="12" size-md="12" size-lg="12" size-xl="6">
										<!-- branchApply -->
										<app-form-control
										(change)="saveChange()"
										[field]="{branchConfig:{showingType:'[Department,TitlePosition]'},id: 'ApplyBranches', label: 'Apply to', type: 'ng-select-branch', dataSource: branchList, bindLabel: 'Name', bindValue: 'Id', form: g, multiple: true, appendTo: '#detail-page'}"
									>
									</app-form-control>
									</ion-col>
								</ion-row>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="0" size-md="0" size-lg="0" size-xl="3"></ion-col>
							<ion-col size="12" size-xl="4" *ngIf="pageConfig.canEdit">
								<ion-button (click)="addPolRateOverTime({})"> {{ 'Add rate' | translate }} </ion-button>
							</ion-col>
						</ion-row>
						
					</form>
				</ion-grid>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
