<ion-content appScrollbarTheme class="_left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<div id="ng-select-main-page" style="position: absolute"></div>
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="top" horizontal="end" slot="fixed">
		<div id="order-detail-page" style="position: absolute"></div>
		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Working schedule' | translate}}</ion-label>

				<!-- <ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus=='[301]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button> -->
			</ion-list-header>
			<ion-item lines="full">
				<div class="c-control">
					<ng-select
						class="c-input no-check-dirty"
						appendTo="#order-detail-page"
						(change)="changeTimesheet()"
						[(ngModel)]="selectedTimesheet"
						[items]="timesheetList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select working schedule' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Shift' | translate}}</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shiftList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}} <small>{{i.Start}}-{{i.End}}</small></h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.ShiftType}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Location' | translate}}</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of officeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text>
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

		<!-- <ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Loại ca</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shifTypeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list> -->
	</ion-fab>

	<app-page-message
		message="{{'No payroll cycle found for this period' | translate}}"
		*ngIf="!_idCycle"
		[itemsLength]="_idCycle"
		[showSpinner]="pageConfig.showSpinner"
	>
		<hr />
		<!-- <div class="c-control">
			<ng-select
				class="c-input no-check-dirty"
				appendTo="#ng-select-main-page"
				(change)="changeTimesheet()"
				[(ngModel)]="selectedTimesheet"
				[items]="timesheetList"
				bindLabel="Name"
				bindValue=""
				placeholder="{{'Select working schedule' | translate}}"
			>
				<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
					<div *ngIf="i">
						<div>
							<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
							<span [ngOptionHighlight]="search">{{i.Name}}</span>
						</div>
					</div>
				</ng-template>
			</ng-select>
		</div> -->
	</app-page-message>
	<full-calendar *ngIf="_idCycle" #calendar [options]="calendarOptions"></full-calendar>
</ion-content>
