.icon-30 {
	width: 30px;
}


.ion-accordion-bg{
	background-color: transparent;
}
.header-ion-accordion{
	padding: 8px 0 8px 5px;
	border-bottom: solid 1px var(--menu-right-border-color);
    margin-bottom: 16px;
}