<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}"
	forceOverscroll="false">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table app-data-table class="box-shadow responsive" [rows]="items" [trackBy]="'Id'"
			[(selectedRows)]="selectedItems" [showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch" [(query)]="query" (dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)" (sort)="onSort($event)">
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<a [routerLink]="['/staff/'+i.Id]">{{i.Id}}</a>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-name" name="Full name" property="FullName">
				<ng-template let-i="row" datatable-cell-template>
					<div (click)="nav('staff/'+i.Id,'forward')" class="col-name cell">
						<ion-avatar class="avatar" slot="start">
							<ion-img #img [src]="i.Avatar" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
						</ion-avatar>
						<div>
							<span class="bold">{{i.FullName}}</span>
							<small *ngIf="i.Code" class="no-warp"> {{i.Code}}</small>
							<br />
							{{i.Email}}
						</div>
					</div>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-name" name="Job title" property="JobTitle">
			</datatable-column>
			<datatable-column class="col-name" name="Department" property="Department">
			</datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Start date" property="StartDate"
				filterControlType="date"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Calculation date" property="StartDate"
				filterControlType="date"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="End date" property="EndDate"
				filterControlType="date"></datatable-column>

			<datatable-column class="col-custom bold" format="1.0-2" name="Leave days remaining" property="LeaveDaysRemaining">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Leave days remaining' | translate}}:&nbsp;</span>
					<span>{{i.LeaveDaysRemaining}}</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-custom bold" name="Leave days allocated" property="LeaveDaysAllocated">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Leave days allocated' | translate}}:&nbsp;</span>
					<span>{{ i.LeaveDaysAllocated | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Leave days used" property="LeaveDaysUsed">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Leave days used' | translate}}:&nbsp;</span>
					<span>{{ i.LeaveDaysUsed | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Years worked" property="YearsWorked">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Years worked' | translate}}:&nbsp;</span>
					<span>{{ i.YearsWorked | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Leave days seniority" property="LeaveDaysSeniority">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Leave days seniority' | translate}}:&nbsp;</span>
					<span>{{ i.LeaveDaysSeniority | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Overtime day off" property="OvertimeDayOff">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Overtime day off' | translate}}:&nbsp;</span>
					<span>{{ i.OvertimeDayOff | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="January" property="Monthly1">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'January' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly1 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="February" property="Monthly2">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'February' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly2 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="March" property="Monthly3">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'March' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly3 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="April" property="Monthly4">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'April' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly4 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="May" property="Monthly5">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'May' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly5 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="June" property="Monthly6">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'June' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly6 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-custom bold" name="July" property="Monthly7">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'July' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly7 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="August" property="Monthly8">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'August' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly8 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="September" property="Monthly9">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'September' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly9 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="October" property="Monthly10">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'October' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly10 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="November" property="Monthly11">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'November' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly11 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="December" property="Monthly12">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'December' | translate}}:&nbsp;</span>
					<span>{{ i.Monthly12 | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Other minus" property="OtherMinus">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Other minus' | translate}}:&nbsp;</span>
					<span>{{ i.OtherMinus | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Total allocation" property="TotalAllocation">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Total allocation' | translate}}:&nbsp;</span>
					<span>{{ i.TotalAllocation | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Total carryOver" property="TotalCarryOver">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Total carryOver' | translate}}:&nbsp;</span>
					<span>{{ i.TotalCarryOver | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Total used" property="TotalUsed">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Total used' | translate}}:&nbsp;</span>
					<span>{{ i.TotalUsed | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom bold" name="Total balance" property="TotalBalance">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Total balance' | translate}}:&nbsp;</span>
					<span>{{ i.TotalBalance | number:'1.0-2' }}</span>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)"
		[disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>