<ion-header>
	<app-list-toolbar
		pageTitle="{{'List' | translate}}"
		[pageConfig]="pageConfig"
		[selectedItems]="selectedItems"
		[query]="query"
		(add)="add()"
		(refresh)="refresh()"
		(export)="export()"
		(import)="import($event)"
		(help)="help()"
		(unselect)="unselect()"
		(archiveItems)="archiveItems()"
		(deleteItems)="deleteItems()"
		(changeBranch)="changeBranch($event)"
	></app-list-toolbar>
	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				{{'Id' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-name cell" (click)="sortToggle('IDStaff')">
				{{'Staff' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.IDStaff" [name]="sort.IDStaff == 'IDStaff'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDStaff" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell">{{'Code' | translate}}</div>
			<div class="col-code cell" (click)="sortToggle('IDPolicyPTO')">
				{{'Policy' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.IDPolicyPTO" [name]="sort.IDPolicyPTO == 'IDPolicyPTO'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDPolicyPTO" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell" (click)="sortToggle('PTOBalance')">
				{{'Total leaves' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.PTOBalance" [name]="sort.PTOBalance == 'PTOBalance'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.PTOBalance" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text" />
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>

				<div class="col-name cell"></div>
				<div class="col-code cell"></div>
				<div class="col-code cell"></div>
				<div class="col-number cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.PTOBalance" class="c-input" [ngClass]="{active: query.PTOBalance}" type="text" />
					<ion-icon class="min-btn" (click)="query.PTOBalance=''; refresh()" *ngIf="query.PTOBalance" name="close-circle-outline"></ion-icon>
				</div>

				<button mat-raised-button type="submit" style="display: none">{{'Search' | translate}}</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<div *ngFor="let i of items; let j = index;" class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
				<div class="col-checkbox cell">
					<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
				</div>
				<div (click)="nav('ptos-enrollment/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>

				<div (click)="nav('ptos-enrollment/'+i.Id,'forward')" class="col-name cell">{{i.Staff.FullName}}</div>
				<div (click)="nav('ptos-enrollment/'+i.Id,'forward')" class="col-code cell">{{i.Staff.Code}}</div>
				<div (click)="nav('ptos-enrollment/'+i.Id,'forward')" class="col-code cell">{{i.PTOPolicy.Name}}</div>
				<div class="col-number cell">{{i.PTOBalance}}</div>
			</div>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
