<ion-header>
  <app-toolbar [page]="this">
    <ion-button
      title="{{'Allow to use account' | translate}}"
      [color]="userAccount.LockoutEnabled ? 'danger': 'success'"
      [disabled]="showLogout"
      *ngIf="userAccount.Id"
      (click)="changeLock()"
    >
      <ion-icon slot="icon-only" [name]="userAccount.LockoutEnabled ? 'lock-closed' : 'lock-open'"></ion-icon>
    </ion-button>
    <ion-button
      title="{{'Assign system admin role' | translate}}"
      color="danger"
      [disabled]="showLogout"
      *ngIf="showRolesEdit && userAccount.Id"
      [fill]="!checkRole('HOST')? 'outline' : 'solid'"
      (click)="changeRole('HOST')"
    >
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="left" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
  <ion-fab
    [ngClass]="{withSearch: pageConfig.isShowSearch,'ion-hide-md-down': pageConfig.isSubActive}"
    class="feature no-print"
    vertical="bottom"
    horizontal="start"
    slot="fixed"
  >
    <app-page-message [itemsLength]="item?1:0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
    <div *ngIf="pageConfig.showSpinner==false">
      <ion-list lines="full">
        <ion-item class="img-holder">
          <div style="margin: 0 auto;"
            ng2FileDrop
            class="avatar well my-drop-zone ion-padding"
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            (onFileDrop)="onFileSelected()"
            [uploader]="uploader"
          >
            <img [src]="avatarURL" (error)="img.src = 'assets/avartar-empty.jpg'" #img />
            <div>
              <ion-button class="change-avatar" *ngIf="item.IsDisabled" color="danger" size="small">
                {{'Resigned/ on pause' | translate}}
              </ion-button>
            </div>
            <input
              style="display: none"
              #importfile
              type="file"
              (change)="onFileSelected()"
              ng2FileSelect
              accept="image/*"
              [uploader]="uploader"
            />
            <p class="bold text-center" style="font-size: 20px; margin: 5px">{{item.FullName}}</p>
            <ng-container *ngFor="let t of jobTitleList">
              <ion-text *ngIf="item.IDJobTitle == t.Id" color="medium text-center">{{ t.Name }}</ion-text>
            </ng-container>
          </div>
        </ion-item>
        <ion-item class="smallZoom" >
          <ion-list lines="none">
            <ion-item lines="none" *ngIf="formGroup.get('IDDepartment').value">
              <ion-icon slot="start" name="business-outline"></ion-icon>
              <ng-container *ngFor="let t of env.branchList">
                <ion-text *ngIf="formGroup.get('IDDepartment').value == t.Id">{{ t.Name }}</ion-text>
              </ng-container>
            </ion-item>
            <ion-item lines="none" *ngIf="formGroup.get('Code').value">
              <ion-icon slot="start" name="qr-code-outline"></ion-icon>
              <ion-text>{{ formGroup.get('Code').value }}</ion-text>
            </ion-item>

            <ion-item lines="none" *ngIf="formGroup.get('Email').value">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-text>{{formGroup.get('Email').value }}</ion-text>
            </ion-item>

            <ion-item lines="none" *ngIf="formGroup.get('PhoneNumber').value">
              <ion-icon slot="start" name="call-outline"></ion-icon>
              <ion-label>{{formGroup.get('PhoneNumber').value}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s1');" detail="true" lines="full" [color]="segmentView == 's1'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="person-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h3>{{'Personnel profile' | translate}}</h3>
            <p style="color:var(--ion-color-step-400, var(--ion-text-color-step-600, #999999))">{{'Personal, legal and background information' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s2')" detail="true" lines="full" [color]="segmentView == 's2'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="earth-outline"></ion-icon>
          <ion-label>
            <h3>{{'Address' | translate}}</h3>
            <p>{{'Địa chỉ thường trú, tạm trú,...' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s3')" detail="true" lines="full" [color]="segmentView == 's3'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="people-circle-outline"></ion-icon>
            <ion-label>
            <h3>{{'Family' | translate}}</h3>
            <p>{{'Thông tin gia đình' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s4')" detail="true" lines="full" [color]="segmentView == 's4'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="book-outline"></ion-icon>
          <ion-label>
            <h3>{{'Busisness trip' | translate}}</h3>
            <p>{{'Công việc được giao' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s5')" detail="true" lines="full" [color]="segmentView == 's5'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="ribbon-outline"></ion-icon>
          <ion-label>
            <h3>{{'Qualifications' | translate}}</h3>
            <p>{{'Chứng chỉ, bằng cấp,..' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="clickable" (click)="segmentChanged('s6')" detail="true" lines="full" [color]="segmentView == 's6'? 'primary': '' ">
          <ion-icon slot="start" aria-hidden="true" name="star-outline"></ion-icon>
          <ion-label>
            <h3>{{'Skills' | translate}}</h3>
            <p>{{'Kỹ năng, nghiệp vụ' | translate}}</p>
          </ion-label>
        </ion-item>
        <ion-item [color]="segmentView == 's7'? 'primary': '' "class="clickable" (click)="segmentChanged('s7')" detail="true" lines="full">
          <ion-icon slot="start" aria-hidden="true" name="pencil-outline"></ion-icon>
          <ion-label>
            <h3>{{'Contract renewal' | translate}}</h3>
            <p>{{'Hợp đồng nhân sự' | translate}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="ion-padding" style="padding-bottom: 0"></div>
    </div>
  </ion-fab>
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <div class="row-full shadow full-screen">
      <div>
        <div *ngIf="segmentView == 's1'">
          <div class="ion-padding">
            <form [formGroup]="formGroup">
              <ion-list-header class="ion-no-padding" lines="full">
                <ion-label color="primary" class="mt-0"
                  ><h3 style="font-size: 30px">{{'Personnel profile' | translate}}</h3>
                  <p>{{'Personal, legal and background information' | translate}}</p>
                </ion-label>
              </ion-list-header>
              <ion-list>
                <ion-list-header lines="inset">
                  <ion-label class="bold">{{'General information' | translate}}</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="12" size-xl="6">
                        <!-- <app-form-control [field]="{id:'Id', type : 'number', form : formGroup }" (change)="saveChange()"> </app-form-control> -->
                        <app-form-control
                          [field]="{id:'FullName', label:'Full name', type : 'text', form : formGroup }"
                          (change)="bindName()"
                        >
                          <small label *ngIf="item.Id">ID: {{item.Id}}</small>
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'Code', label:'Reference code', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'IsDisabled', label:'Resigned staff',type : 'checkbox', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                      </ion-col>
                      <ion-col size="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'IDDepartment', label:'Unit',dataSource: env.branchList, bindLabel:'Name', bindValue:'Id', type : 'ng-select-level', form : formGroup, placeholder:'Select unit' }"
                          (change)="changeDepartment();saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'IDJobTitle', label:'Title',dataSource: jobTitleList, bindLabel:'Name', bindValue:'Id', type : 'ng-select-level', form : formGroup, placeholder:'Select unit' }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'Area', label:'Area',dataSource: workAreaList, bindLabel:'Name', bindValue:'Name', type : 'ng-select', form : formGroup, placeholder:'Select area' }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-list-header lines="inset">
                  <ion-label class="bold">{{'Personal information' | translate}}</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'LastName', label:'Last name', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'FirstName', label:'Name', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'Name', label:'Display name', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <div class="c-control">
                          <input
                            (change)="saveChange()"
                            id="Gender1"
                            type="radio"
                            [value]="true"
                            formControlName="Gender"
                            class="c-checkbox"
                          />
                          <label class="c-label radio" for="Gender1">
                            <span>{{'Male' | translate}}</span>
                          </label>

                          <input
                            (change)="saveChange()"
                            id="Gender2"
                            type="radio"
                            [value]="false"
                            formControlName="Gender"
                            class="c-checkbox"
                          />
                          <label class="c-label radio" for="Gender2">
                            <span>{{'Female' | translate}}</span>
                            <span
                              *ngIf="!formGroup.controls.Gender.valid && !formGroup.controls.Gender.pending && (formGroup.controls.Gender.dirty || submitAttempt)"
                              ion-text
                              color="danger"
                              >(*)</span
                            >
                          </label>
                        </div>
                      </ion-col>
                      <ion-col size="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'DOB', label:'Date of birth', type : 'datetime-local', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'PhoneNumber', label:'Phone number', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>

                        <app-form-control
                          [field]="{id:'Remark', label:'Remark', type : 'textarea', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>

                        <div class="c-control" *ngIf="!item.Id && pageConfig.canAdd">
                          <label class="c-label" for=""></label>
                          <ion-button
                            *ngIf="!item.Id && pageConfig.canAdd"
                            expand="block"
                            (click)="saveChange()"
                            [disabled]="!formGroup.dirty"
                            >{{'Add staff' | translate}}</ion-button
                          >
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-list-header lines="inset">
                  <ion-label class="bold">{{'National ID Card' | translate}}</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="12" size-sm="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'Domicile', label:'Place of origin', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'IdentityCardNumber', label:'National ID', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                      </ion-col>
                      <ion-col size="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'DateOfIssueID', label:'Date of issue', type : 'datetime-local', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                        <app-form-control
                          [field]="{id:'IssuedBy', label:'Place of issue', type : 'text', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-list-header lines="inset">
                  <ion-label class="bold">{{'Other information' | translate}}</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
                        ></app-form-control>
                      </ion-col>
                      <ion-col size="12" size-md="12" size-xl="6">
                        <app-form-control
                          [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
                        ></app-form-control>
                        <app-form-control
                          [field]="{id:'Remark', label:'Remark', type : 'textarea', form : formGroup }"
                          (change)="saveChange()"
                        >
                        </app-form-control>
                      </ion-col>
                      <ion-col size="12" size-xl="6"> </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-list-header lines="inset">
                  <ion-label class="bold">{{'Log in account' | translate}}</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                  <ion-grid fixed>
                    <form [formGroup]="changePasswordForm">
                      <ion-row>
                        <ion-col size="12" size-xl="6">
                          <app-form-control
                            *ngIf="userAccount.Id"
                            [field]="{id:'Email', label:'Email', type : 'span-text', form : changePasswordForm }"
                          >
                          </app-form-control>
                          <app-form-control
                            *ngIf="!userAccount.Id"
                            [field]="{id:'Email', label:'Email', type : 'text', form : changePasswordForm }"
                            (change)="saveChange()"
                          >
                          </app-form-control>
                          <div class="c-control">
                            <label class="c-label" for="newPassword"
                              >{{'Enter password' | translate}}
                              <span
                                *ngIf="!changePasswordForm.controls.newPassword.valid && !changePasswordForm.controls.newPassword.pending && (changePasswordForm.controls.newPassword.dirty || submitAttempt)"
                                ion-text
                                color="danger"
                                >(*)</span
                              >
                            </label>
                            <input
                              class="c-input"
                              id="newPassword"
                              formControlName="newPassword"
                              [type]="passwordViewType"
                            />
                          </div>
                          <div class="c-control">
                            <label class="c-label" for="confirmPassword"
                              >{{'Confirm password' | translate}}
                              <span
                                *ngIf="!changePasswordForm.controls.confirmPassword.valid && !changePasswordForm.controls.confirmPassword.pending && (changePasswordForm.controls.confirmPassword.dirty || submitAttempt)"
                                ion-text
                                color="danger"
                                >(*)</span
                              >
                            </label>
                            <input
                              class="c-input"
                              id="confirmPassword"
                              formControlName="confirmPassword"
                              [type]="passwordViewType"
                            />
                          </div>

                          <div class="c-control">
                            <ion-button size="small" *ngIf="userAccount.Id" (click)="resetPassword()">
                              {{'Change password' | translate}}
                            </ion-button>

                            <ion-button size="small" *ngIf="!userAccount.Id" (click)="createAccount()">
                              {{'Create account' | translate}}
                            </ion-button>

                            <ion-button
                              size="small"
                              (click)="passwordViewType = passwordViewType=='password'?'text':'password'"
                              color="warning"
                            >
                              <ion-icon
                                slot="icon-only"
                                [name]="passwordViewType=='password'?'eye':'eye-off'"
                              ></ion-icon>
                            </ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </form>
            <!-- 
              -->
            <!-- </ion-grid> -->
          </div>
        </div>
        <div *ngIf="segmentView == 's2'">
          <div class="ion-padding">
            <ion-list-header class="ion-no-padding"  lines="full">
              <ion-label color="primary" class="mt-0"
                ><h3 style="font-size: 30px">{{'Address' | translate}}</h3>
                <p>{{'Địa chỉ thường trú, tạm trú,...' | translate}}</p>
              </ion-label>
            </ion-list-header>

            <ion-list>
              <ng-container *ngFor="let c of formGroup.get('Addresses')['controls']; let j=index">
              <ion-list-header lines="inset">
                <ng-container *ngFor="let t of hrAddressTypeList">
                  <ion-label class="bold"  *ngIf="t.Code == c.get('Type').value">
                    {{ t.Name | translate}}
                  </ion-label>
                </ng-container>
                <ion-button (click)="removeAddress(c,j)" *ngIf="pageConfig.canEdit" >
                  <ion-icon slot="end" name="trash-outline" color="danger"></ion-icon>
                </ion-button>
              </ion-list-header>
              <ion-item lines="none">
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12" size-xl="6">
                      <app-form-control
                      [field]="{id:'Type', type : 'ng-select',dataSource: hrAddressTypeList, bindLabel:'Name',bindValue:'Code', form : c }"
                      (change)="saveChange()"
                    >
                    </app-form-control>
                      <app-form-control
                        [field]="{id:'Province', label:'Provinces', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'District', label:'District', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'Ward', label:'Ward', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'AddressLine1', label:'House number, street name, quarter', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'AddressLine2', label:'Apartment, Building, Unit…', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'Remark', label:'Remark', type : 'textarea', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                   
                    </ion-col>
                    <ion-col size="12" size-xl="6">
                      <app-form-control
                        [field]="{id:'Contact', label:'Contact', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'Phone1', label:'Telephone', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                        [field]="{id:'Phone2', label:'Telephone number (other)', type : 'text', form : c }"
                        (change)="saveChange()"
                      >
                      </app-form-control>
                      <app-form-control
                      [field]="{id:'ZipCode', label:'ZipCode', type : 'text', form : c }"
                      (change)="saveChange()"
                    >
                    </app-form-control>

                      <app-coordinate-picker
                        #coordinatePicker
                        *ngIf="env.isMapLoaded"
                        (change)="changeCoordinate($event, c)"
                        [canEdit]="pageConfig.canEdit"
                        [address]="c.value"
                      ></app-coordinate-picker>
                    </ion-col>
                  </ion-row>
               
                </ion-grid>
              </ion-item>
            </ng-container>
              <ion-row class="hr-group border">
                <ion-col size="12" size-sm size-xl="4" offset-xl="3">
                  <ion-button (click)="addAddress({ Id: 0 })">
                    {{ 'Add address' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>

        <div *ngIf="segmentView == 's3'"></div>

        <div *ngIf="segmentView == 's4'"></div>

        <div *ngIf="segmentView == 's5'"></div>
      </div>
    </div>
  </div>

  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
