<ion-header>
	<app-list-toolbar pageTitle="{{'erp.app.pages.hrm.checkin.page-title' | translate}}" [ShowArchive]="false" [ShowFeature]="false" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()" (changeBranch)="changeBranch($event)"></app-list-toolbar>
	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell">
				{{'erp.app.pages.hrm.checkin.from' | translate}}
			</div>
			<div class="col-date cell" (click)="sortToggle('LogTime')">
				{{'erp.app.pages.hrm.checkin.log-time' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.LogTime" [name]="sort.LogTime == 'LogTime'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.LogTime" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('Name')">
				{{'erp.app.pages.hrm.checkin.name' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Name" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				
				<div class="col-date cell">
					<input [ngModelOptions]="{standalone: true}" placeholder="{{'erp.app.pages.hrm.checkin.log-time-from' | translate}}" [(ngModel)]="query.LogTimeFrom" class="c-input" [ngClass]="{active: query.LogTimeFrom}" type="text">
					<ion-icon class="min-btn" (click)="query.LogTimeFrom=''; refresh()" *ngIf="query.LogTimeFrom" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-date cell">
					<input [ngModelOptions]="{standalone: true}" placeholder="{{'erp.app.pages.hrm.checkin.log-time-to' | translate}}" [(ngModel)]="query.LogTimeTo" class="c-input" [ngClass]="{active: query.LogTimeTo}" type="text">
					<ion-icon class="min-btn" (click)="query.LogTimeTo=''; refresh()" *ngIf="query.LogTimeTo" name="close-circle-outline"></ion-icon>
				</div>
				
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content *ngIf="!scanning" appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			
				<!-- <div class="row" *virtualHeader="let header">
					<div class="col-name cell">
					  <ion-text color="primary">
						<b> {{header}} </b>
					  </ion-text>
					</div>
				  </div> -->

				
					<div *ngFor="let i of items; let j = index;"  class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div class="col-id cell" (click)="showRemark(i)">
							<ion-text [color]="i.IsValidLog? 'success': 'danger'">
								{{i.Time}}
							</ion-text>
						</div>
						<div class="col-date cell">
							{{i.Date}} 
						</div>
						<div class="col-name cell">
							<span *ngIf="!(i.IsValidLog && i.Gate.IsCateringService)">
								{{i.Gate.Name}}
							</span>
							<a *ngIf="i.IsValidLog && i.Gate.IsCateringService" (click)="showLog(i)">
								<ion-icon *ngIf="i.Gate.IsCateringService" name="restaurant-outline"></ion-icon>&nbsp;
								{{i.Gate.Name}}
							</a>
						</div>
					</div>
				
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div class="ion-padding"></div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="primary" (click)="scanQRCode()">
			<ion-icon name="qr-code-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>


<ion-content *ngIf="scanning" no-scroll class="cameraFrame">
	<div class="frame">
		<div class="blink-line">
		</div>
	</div>
	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="secondary" (click)="closeCamera()">
			<ion-icon name="close"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<!-- <ion-fab *ngIf="isScanPhieuNo" vertical="top" horizontal="start" slot="fixed">
	  <ion-fab-button color="success" title="{{''+items.length+' phiếu nợ'}}">
		<ion-icon name="pricetags"></ion-icon>
	  </ion-fab-button>
	</ion-fab> -->

	<!-- <ion-checkbox color="danger"></ion-checkbox> -->

	<!-- <ion-fab *ngIf="isScanPhieuNo" vertical="top" horizontal="start" slot="fixed" (click)="isRemovePhieuNo = !isRemovePhieuNo;">
	  <ion-fab-button title="{{isRemovePhieuNo?'Đang quét để bỏ phiếu nợ':'Đang quét để thêm phiếu nợ'}}">
		<ion-icon [color]="isRemovePhieuNo?'danger':'success'" [name]="isRemovePhieuNo? 'trash': 'add' "></ion-icon>
	  </ion-fab-button>
	</ion-fab> -->

	<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="warning" (click)="lightCamera()">
			<ion-icon name="flashlight"></ion-icon>
		</ion-fab-button>
	</ion-fab> -->

</ion-content>