<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="{{'From' | translate}}" property="Time">
				<ng-template let-i="row" datatable-cell-template>
					<ion-text [color]="i.IsValidLog? 'success': 'danger'">{{i.Time}}</ion-text>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-date" name="Date" property="Date" filterControlType="time-frame"></datatable-column>
			<datatable-column class="col-name" name="Checkin" property="Gate">
				<ng-template let-i="row" datatable-cell-template>
					<span *ngIf="!(i.IsValidLog && i.Gate?.IsCateringService)">{{i.Gate?.Name}}</span>
					<a *ngIf="i.IsValidLog && i.Gate?.IsCateringService" (click)="showLog(i)"> <ion-icon name="restaurant-outline"></ion-icon>&nbsp;{{i.Gate?.Name}} </a>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div class="ion-padding"></div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="primary" (click)="scanQRCode()">
			<ion-icon name="qr-code-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
