<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="detail-page" style="position: absolute"></div>
	<div class="main-view">
		<div class="row-full shadow full-screen">
			<div class="ion-padding">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<!-- Thông tin chung -->
						<ion-row class="hr-group">
							<ion-col size="12" size-md="12" size-lg="12" size-xl="4">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'General information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>

							<ion-col size="12" size-md="12" size-lg="12" size-xl="6">
								<app-form-control (change)="saveChange()" [field]="{id:'Name', label:'Name', type:'text', form:formGroup}"></app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'Type', label:'Classification', type:'ng-select', dataSource:timesheetTypeList,bindLabel:'Name',bindValue:'Code',form:formGroup, appendTo:'#detail-page'}"
								></app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'IDTimesheetTemplate', label:'Template', type:'ng-select', dataSource:timesheetTemplateList,bindLabel:'Name',bindValue:'Id',form:formGroup, appendTo:'#detail-page'}"
								></app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'CheckInPolicy', label:'CheckInPolicy', type:'ng-select', dataSource:CheckInOutPolicyList,bindLabel:'Name',bindValue:'Code',form:formGroup, appendTo:'#detail-page'}"
								></app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'ShiftList', label:'Shift list', type:'ng-select', dataSource:shiftList,bindLabel:'Name',bindValue:'Id',form:formGroup, appendTo:'#detail-page',multiple:true}"
								>
								</app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'NumberOfShiftPerDay', label:'Number of Daily working shift', type:'number', form:formGroup}"
								></app-form-control>
								<app-form-control
									(change)="saveChange()"
									[field]="{id:'WorkingHoursPerDay', label:'Working hours per day', type:'number', form:formGroup}"
								></app-form-control>
								<app-form-control (change)="saveChange()" [field]="{id:'Remark', label:'Remark', type:'textarea', form:formGroup}"></app-form-control>

								<div class="c-control">
									<span class="no-warp">
										<input (change)="saveChange()" class="c-checkbox" id="IsCheckOutRequired" formControlName="IsCheckOutRequired" type="checkbox" />
										<label class="c-label checkbox" for="IsCheckOutRequired"
											>{{'Check-out required' | translate}}
											<!-- <span *ngIf="!formGroup.controls.IsCheckOutRequired.valid && !formGroup.controls.IsCheckOutRequired.pending && (formGroup.controls.IsCheckOutRequired.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label> </span
									><br />

									<span class="no-warp">
										<input
											(change)="saveChange()"
											class="c-checkbox"
											id="IsRequiredApproveToEnroll"
											formControlName="IsRequiredApproveToEnroll"
											type="checkbox"
										/>
										<label class="c-label checkbox" for="IsRequiredApproveToEnroll"
											>{{'Required approve to enroll' | translate}}
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToEnroll.valid && !formGroup.controls.IsRequiredApproveToEnroll.pending && (formGroup.controls.IsRequiredApproveToEnroll.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label> </span
									><br />

									<span class="no-warp">
										<input
											(change)="saveChange()"
											class="c-checkbox"
											id="IsRequiredApproveToTransfer"
											formControlName="IsRequiredApproveToTransfer"
											type="checkbox"
										/>
										<label class="c-label checkbox" for="IsRequiredApproveToTransfer"
											>{{'Required approve to transfer' | translate}}
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToTransfer.valid && !formGroup.controls.IsRequiredApproveToTransfer.pending && (formGroup.controls.IsRequiredApproveToTransfer.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label> </span
									><br />

									<span class="no-warp">
										<input
											(change)="saveChange()"
											class="c-checkbox"
											id="IsRequiredApproveToSwitch"
											formControlName="IsRequiredApproveToSwitch"
											type="checkbox"
										/>
										<label class="c-label checkbox" for="IsRequiredApproveToSwitch"
											>{{'Required approve to switch' | translate}}
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToSwitch.valid && !formGroup.controls.IsRequiredApproveToSwitch.pending && (formGroup.controls.IsRequiredApproveToSwitch.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label> </span
									><br />
								</div>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</div>
		</div>
	</div>
</ion-content>
