<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view safe-max-width" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Compulsory insurance policy' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange()" [field]="{id: 'Name', label: 'Name', type: 'text', form: formGroup}"> </app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'RateOfSocialInsuranceCo', label: 'Rate of social insurance Co', type: 'number', form: formGroup}"> </app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'RateOfSocialInsuranceEm', label: 'Rate of social insurance Em', type: 'number', form: formGroup}"> </app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange()" [field]="{id: 'Code', label: 'Code', type: 'text', form: formGroup}"> </app-form-control>
						<app-form-control
							(change)="saveChange()"
							[field]="{id: 'BasisOfCalcalation', label: 'Basis Of Calculation', type: 'ng-select', dataSource: calcType, bindLabel: 'Name', bindValue: 'Id', form: formGroup}"
						>
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'Remark', label: 'Remark', type: 'text-area', form: formGroup}"> </app-form-control>
					</ion-col>
				</ion-row></form
		></ion-grid>
	</div>

	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
