<ion-header>
  <ion-toolbar class="no-padding">
    <ion-buttons slot="start">
      <ion-button color="dark" class="ion-hide-sm-down"> {{'Checkin logs' | translate}} </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>

      <ion-button title="{{'Help' | translate}}" (click)="help()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>

      <ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" fullscreen>
  <form [formGroup]="formGroup">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" *ngIf="!formGroup.controls.Id.value">
          <div class="c-control">
            <label class="c-label" for="FromDate"
              >{{'From date' | translate}}
              <span
                *ngIf="!formGroup.controls.FromDate.valid && !formGroup.controls.FromDate.pending && (formGroup.controls.FromDate.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <input class="c-input" id="FromDate" formControlName="FromDate" type="date" />
          </div>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" *ngIf="!formGroup.controls.Id.value">
          <div class="c-control">
            <label class="c-label" for="ToDate"
              >{{'To date' | translate}}
              <span
                *ngIf="!formGroup.controls.ToDate.valid && !formGroup.controls.ToDate.pending && (formGroup.controls.ToDate.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <input class="c-input" id="ToDate" formControlName="ToDate" type="date" />
          </div>
        </ion-col>

        <ion-col size="12" size-sm="12" size-md="12">
          <div class="c-control" *ngIf="!formGroup.controls.Id.value">
            <label class="c-label" for="DaysOfWeek"
              >{{'Weekdays' | translate}}
              <span
                *ngIf="!formGroup.controls.DaysOfWeek.valid && !formGroup.controls.DaysOfWeek.pending && (formGroup.controls.DaysOfWeek.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <div class="c-control">
              <ng-select
                class="c-input"
                labelForId="DaysOfWeek"
                formControlName="DaysOfWeek"
                groupBy="Group"
                [selectableGroup]="true"
                [selectableGroupAsModel]="false"
                [closeOnSelect]="false"
                [items]="dayList"
                bindLabel="Day"
                bindValue="Value"
                [multiple]="true"
                placeholder="{{'Select weekdays' | translate}}"
              >
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input
                    id="item-{{index}}"
                    type="checkbox"
                    [ngModel]="item$.selected"
                    [ngModelOptions]="{standalone: true}"
                  />
                  {{'All' | translate}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input
                    id="item-{{index}}"
                    type="checkbox"
                    [ngModel]="item$.selected"
                    [ngModelOptions]="{standalone: true}"
                  />
                  {{item.Day}}
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="c-control" *ngIf="formGroup.controls.Id.value">
            <label class="c-label">{{'Log time' | translate}}</label>
            <input formControlName="FromDate" class="c-input" type="date" style="width: calc(100% - 130px)" />
            <input formControlName="TimeSpan" class="c-input" type="time" style="width: 120px; margin-left: 10px" />
          </div>

          <div class="c-control" *ngIf="!formGroup.controls.Id.value">
            <label class="c-label" for="TimeSpan"
              >{{'Time' | translate}}
              <span
                *ngIf="!formGroup.controls.TimeSpan.valid && !formGroup.controls.TimeSpan.pending && (formGroup.controls.TimeSpan.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <input class="c-input" id="TimeSpan" formControlName="TimeSpan" type="time" />
          </div>

          <div class="c-control" *ngIf="formGroup.controls.Id.value">
            <label class="c-label" for="IDStaff"
              >{{'Staff' | translate}}
              <span
                *ngIf="!formGroup.controls.IDStaff.valid && !formGroup.controls.IDStaff.pending && (formGroup.controls.IDStaff.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <div class="c-control">
              <ng-select
                class="c-input"
                labelForId="IDStaff"
                formControlName="IDStaff"
                [items]="staffList"
                bindLabel="FullName"
                bindValue="id"
                placeholder="{{'Select staff' | translate}}"
              >
                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                  <div *ngIf="i">
                    <div>
                      <span [ngOptionHighlight]="search"><b>{{i.Code}}</b> {{i.FullName}}</span>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="c-control" *ngIf="!formGroup.controls.Id.value">
            <label class="c-label" for="Staffs"
              >{{'Select staff' | translate}}
              <span
                *ngIf="!formGroup.controls.Staffs.valid && !formGroup.controls.Staffs.pending && (formGroup.controls.Staffs.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <div class="c-control">
              <ng-select
                class="c-input"
                labelForId="Staffs"
                formControlName="Staffs"
                [multiple]="true"
                [items]="staffList"
                bindLabel="FullName"
                bindValue="id"
                placeholder="{{'Select staff' | translate}}"
              >
                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                  <div *ngIf="i">
                    <div>
                      <span [ngOptionHighlight]="search"><b>{{i.Code}}</b> {{i.FullName}}</span>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="c-control" *ngIf="!formGroup.controls.Id.value">
            <input class="c-checkbox" id="IsAllStaff" formControlName="IsAllStaff" type="checkbox" />
            <label class="c-label checkbox" for="IsAllStaff"
              >{{'All staff in working schedule' | translate}}
              <span
                *ngIf="!formGroup.controls.IsAllStaff.valid && !formGroup.controls.IsAllStaff.pending && (formGroup.controls.IsAllStaff.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
          </div>

          <div class="c-control">
            <label class="c-label" for="IDOffice"
              >{{'Location' | translate}}
              <span
                *ngIf="!formGroup.controls.IDOffice.valid && !formGroup.controls.IDOffice.pending && (formGroup.controls.IDOffice.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <ng-select
              class="c-input"
              (change)="changeOffice()"
              labelForId="IDOffice"
              formControlName="IDOffice"
              [items]="officeList"
              bindLabel="Name"
              bindValue="Id"
              placeholder="{{'Search' | translate}}"
            >
              <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                <div *ngIf="i">
                  <div [ngOptionHighlight]="search">{{i.Name}}</div>
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div class="c-control">
            <label class="c-label" for="IDGate"
              >{{'Check -in gate' | translate}}
              <span
                *ngIf="!formGroup.controls.IDGate.valid && !formGroup.controls.IDGate.pending && (formGroup.controls.IDGate.dirty || submitAttempt)"
                ion-text
                color="danger"
                >(*)</span
              >
            </label>
            <ng-select
              class="c-input"
              labelForId="IDGate"
              formControlName="IDGate"
              [items]="gateViewList"
              bindLabel="Name"
              bindValue="Id"
              placeholder="{{'Search' | translate}}"
            >
              <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                <div *ngIf="i">
                  <div><b [ngOptionHighlight]="search">{{i.Name}}</b>&nbsp;<span>{{i.Type}}</span></div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <!-- <div class="c-control">
                        <div>
                            <input class="c-checkbox" id="IsValidLog" formControlName="IsValidLog" type="checkbox">
                            <label class="c-label checkbox" for="IsValidLog">Valid log
                                <span *ngIf="!formGroup.controls.IsValidLog.valid && !formGroup.controls.IsValidLog.pending && (formGroup.controls.IsValidLog.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                        </div>
                    </div> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="c-control ion-text-right">
            <label class="c-label" for=""></label>
            <ion-button (click)="massShiftAssignment()">{{'Save' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
