<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view safe-max-width" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Welfare policy' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange()" [field]="{id: 'Name', label: 'Name', type: 'text', form: formGroup}"> </app-form-control>
						<app-form-control
							(change)="saveChange()"
							[field]="{id: 'Frequency', label: 'Frequency', type: 'ng-select', dataSource: frequencyList, bindLabel: 'Name', bindValue: 'Code', form: formGroup}"
						>
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'AOMAccordingPol', label: 'AOM according pol', type: 'number', form: formGroup}">
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'Remark', label: 'Remark', type: 'textarea', form: formGroup}"> </app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveChange()" [field]="{id: 'Code', label: 'Code', type: 'text', form: formGroup}"> </app-form-control>
						<app-form-control
							(change)="saveChange()"
							[field]="{id: 'CurrencyUnitType', label: 'Currency unit type', type: 'ng-select', dataSource: currencyUnitTypeList, bindLabel: 'Name', bindValue: 'Id', form: formGroup}"
						>
						</app-form-control>
						<app-form-control
							(change)="saveChange()"
							[field]="{id: 'WelfareType', label: 'Type', type: 'ng-select', dataSource: typeList, bindLabel: 'Name', bindValue: 'Id', form: formGroup}"
						>
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'IsApproved', label: 'Áp dụng cho nhân viên', type: 'checkbox', form: formGroup}">
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'IsIncomePerMonth', label: 'Áp dụng vào thu nhập mỗi tháng', type: 'checkbox', form: formGroup}">
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'IsIncomePerYear', label: 'Áp dụng vào thu nhập mỗi năm', type: 'checkbox', form: formGroup}">
						</app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'IsPaidInKind', label: 'Tính vào thu nhập', type: 'checkbox', form: formGroup}"> </app-form-control>
					</ion-col>
				</ion-row></form
		></ion-grid>
	</div>

	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
