@media screen and (max-width: 1164px) {
	::ng-deep {
		datatable-body-cell.cell.col-custom,
		datatable-body-cell.cell.col-icon-custom  {
			order: 8;
			min-width: calc(100% + 100px) !important;
			font-size: 90%;
			justify-content: flex-start !important;
		}

		.sp-custom {
			display: block !important;
		}
	}
}

::ng-deep {
	
	datatable-body-cell.cell.col-custom {
		justify-content: flex-end;
		max-width: 100px;
	}
	datatable-header-cell.cell.col-custom {
		max-width: 100px;
	}

	app-data-table .col-icon-custom {
		min-width: 35px;
		max-width: 100px;
    	justify-content: center;
	}

	.sp-custom {
		display: none;
	}
	
}