.icon-30 {
	width: 30px;
}

.ion-accordion-bg{
	background-color: transparent;
}
.header-ion-accordion{
	padding: 8px 0 8px 5px;
	border-bottom: solid 1px var(--menu-right-border-color);
    margin-bottom: 16px;
}

::ng-deep {
	.save-button {
		right: 30px;
		top: -30px !important;
		left: unset !important;
	}

	.zoom-button {
		left: unset !important;
		right: 0 !important;
		top: -30px !important;
	}
}