<ion-header *ngIf="item">
  <ion-toolbar class="no-padding" [color]="item.Color">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" [name]="item.Icon"></ion-icon>
        {{item.FullName}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button title="{{'Close' | translate}}" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="no-padding" [color]="item.Color">
    <ion-title> <span style="font-size: 3.5rem" [innerHtml]="item.Title"></span></ion-title>
  </ion-toolbar>
  <ion-toolbar class="no-padding" [color]="item.Color">
    <br />
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">{{'Shifts allocation' | translate}}</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Timesheet' | translate}}</label>
          <span class="c-input">{{item.Timesheet.Name}}</span>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Shift allocation' | translate}}</label>
          <span class="c-input">
            <ion-text [color]="item.Shift.Color">{{item.Shift.Name}}&nbsp;</ion-text>
            <small>{{item.Shift.Start}}→{{item.Shift.End}}</small>
          </span>
        </div>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">{{'Record working hours' | translate}}</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Working day' | translate}}</label>
          <span class="c-input">{{item.WorkingDate}}</span>
        </div>
        <div class="c-control">
          <label class="c-label">{{'Number of Recorded logs' | translate}}</label>
          <b class="c-input"><ion-text [color]="item.Color">{{item.LogCount}}</ion-text></b>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Check-in time' | translate}}</label>
          <span class="c-input"
            >{{item.Checkin}}
            <small *ngIf="item.ChecinLate"
              >{{'Late check-in' | translate}}: {{item.ChecinLate}} {{'minutes' | translate}}</small
            >
          </span>
        </div>
        <div class="c-control">
          <label class="c-label">{{'Check-out time' | translate}}</label>
          <span class="c-input"
            >{{item.Checkout}}
            <small *ngIf="item.CheckoutEarly"
              >{{'Check - out early' | translate}}: {{item.CheckoutEarly}} {{'minutes' | translate}}</small
            >
          </span>
        </div>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">{{'Timesheet calculation' | translate}}</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Working hours counting start' | translate}}</label>
          <span class="c-input">{{item.StdTimeIn}}</span>
        </div>
        <div class="c-control">
          <label class="c-label">{{'Working hours counting end' | translate}}</label>
          <span class="c-input">{{item.StdTimeOut}}</span>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6">
        <div class="c-control">
          <label class="c-label">{{'Break-time' | translate}}</label>
          <span class="c-input">{{item.Breaks}} <small *ngIf="item.Breaks">{{'minutes' | translate}}</small></span>
        </div>

        <div class="c-control">
          <label class="c-label">{{'Working time' | translate}}</label>
          <span class="c-input"
            >{{item.MinutesOfWorked}} <small *ngIf="item.MinutesOfWorked">{{'minutes' | translate}}</small></span
          >
        </div>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12">
        <div class="c-control">
          <label class="c-label">{{'Timesheet calculation' | translate}}</label>
          <b class="c-input">{{item.Point}} <small *ngIf="item.Point">{{'Working time' | translate}}</small></b>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
