<ion-header collapse="fade">
	<ion-toolbar class="no-padding">
		<ion-buttons slot="start">
			<ion-button color="dark" class="ion-hide-sm-down"> {{'Daily working schedule' | translate}} </ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button (click)="refresh()" title="{{'Refresh' | translate}}">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'Help' | translate}}" (click)="help()">
				<ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
			</ion-button>

			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" size-sm="12" size-md="6">
					<app-form-control [field]="{id:'FromDate',label:'Working day',type:'date',form:formGroup}"> </app-form-control>
				</ion-col>
				<ion-col size="12" size-sm="12" size-md="6">
					<div class="c-control">
						<label class="c-label">{{'Working time' | translate}}</label>
						<span class="c-input" disabled> {{ShiftStart}} - {{ShiftEnd}} </span>
					</div>
				</ion-col>

				<ion-col size="12" size-sm="12" size-md="12">
					<div class="c-control">
						<label class="c-label" for="IDShift"
							>{{'Shift' | translate}}
							<span
								*ngIf="!formGroup.controls.IDShift.valid && !formGroup.controls.IDShift.pending && (formGroup.controls.IDShift.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>

						<ng-select
							[clearable]="false"
							[disabled]="true"
							class="c-input disabled"
							labelForId="IDShift"
							formControlName="IDShift"
							[items]="shiftList"
							bindLabel="Name"
							bindValue="Id"
							placeholder="{{'Search' | translate}}"
						>
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div><b [ngOptionHighlight]="search">{{i.Name}}</b>&nbsp;<span>({{i.Start}} - {{i.End}})</span></div>
								</div>
							</ng-template>
						</ng-select>
					</div>
					<!-- <app-form-control [field]="{id:'IDShift',label:'Shift',type:'ng-select', dataSource: shiftList, bindLabel:'Name',bindValue:'Id',form:formGroup}"> -->

					<!-- </app-form-control> -->
					<div class="c-control">
						<label class="c-label">{{'Leave type' | translate}}</label>

						<ion-button
							size="small"
							[disabled]="true"
							[title]="t.Name"
							[color]="t.Color"
							[fill]=" formGroup.controls.TimeOffType.value == t.Code? 'solid' : 'outline' "
							*ngFor="let t of timeoffTypeList"
						>
							{{t.Code}}
						</ion-button>
					</div>
					<!-- <div class="c-control">
                        <label class="c-label" for="IDOffice">Địa điểm
                            <span *ngIf="!formGroup.controls.IDOffice.valid && !formGroup.controls.IDOffice.pending && (formGroup.controls.IDOffice.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <ng-select class="c-input" disabled (change)="changeOffice()" labelForId="IDOffice" formControlName="IDOffice" [items]="officeList" bindLabel="Name" bindValue="Id">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div [ngOptionHighlight]="search">{{i.Name}}</div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div> -->
					<div class="c-control" *ngIf="!formGroup.controls.TimeOffType.value">
						<app-form-control [field]="{id:'IsBookLunchCatering',label:'Register for lunch (L-Lunch)',type:'checkbox',form:formGroup}"></app-form-control>
						<app-form-control [field]="{id:'IsBookBreakfastCatering',label:'Register for breakfast (B-Breakfast)',type:'checkbox',form:formGroup}"></app-form-control>
						<app-form-control [field]="{id:'IsBookDinnerCatering',label:'Register for dinner (D-Dinner)',type:'checkbox',form:formGroup}"></app-form-control>
					</div>

					<div class="c-control" *ngIf="!canBook">
						<label class="c-label checkbox">{{'Note: only able to register at least 01 day in advance' | translate}}</label>
					</div>

					<div class="c-control">
						<label class="c-label checkbox"
							>{{'SUPPLEMENTARY_IN_MONTH' | translate}} {{ _usedAttendanceSupplementThisMonth + '/' + maxAttendanceSupplementPerMonth}}</label
						>
					</div>
				</ion-col>
				<ion-row *ngIf="pointObject">
					<ion-col size="12" size-sm="12" size-md="12">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Timesheet calculation' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="6">
						<div class="c-control">
							<label class="c-label">{{'Working hours counting start' | translate}}</label>
							<span class="c-input">{{pointObject.StdTimeIn | date:'dd/MM/yyyy HH:mm'}}</span>
						</div>
						<div class="c-control">
							<label class="c-label">{{'Working hours counting end' | translate}}</label>
							<span class="c-input">{{pointObject.StdTimeOut | date:'dd/MM/yyyy HH:mm'}}</span>
						</div>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="6">
						<div class="c-control">
							<label class="c-label">{{'Break-time' | translate}}</label>
							<span class="c-input">{{pointObject.Breaks}} <small *ngIf="pointObject.Breaks">{{'minutes' | translate}}</small></span>
						</div>

						<div class="c-control">
							<label class="c-label">{{'Working time' | translate}}</label>
							<span class="c-input">{{pointObject.MinutesOfWorked}} <small *ngIf="pointObject.MinutesOfWorked">{{'minutes' | translate}}</small></span>
						</div>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="12">
						<div class="c-control">
							<label class="c-label">{{'Timesheet calculation' | translate}}</label>
							<b class="c-input">{{pointObject.Point}} <small *ngIf="pointObject.Point">{{'Work day' | translate}}</small></b>
						</div>
					</ion-col>
				</ion-row>

				<ng-container *ngIf="!pageConfig.showSpinner">
					<ion-col size="12" size-sm="12" size-md="12">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Record working hours' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="12">
						<app-data-table class="box-shadow responsive" [rows]="checkingLogList" [trackBy]="'Id'" [showSpinner]="pageConfig.showSpinner">
							<datatable-empty-message subMessage="Please click add new to start..." [showImg]="false" minHeight="125px">
								<ng-template datatable-empty-message-template>
									<div *ngIf="!isShowAddNewCheckingLog && canCreateCheckinLog">
										<ion-button size="small" (click)="isShowAddNewCheckingLog = true" class="ion-no-margin">
											<ion-icon slot="start" name="add-circle-outline"></ion-icon>
											{{ 'Add checkin log' | translate }}
										</ion-button>
									</div>
								</ng-template>
							</datatable-empty-message>
							<datatable-column class="col-date" format="yyyy-MM-dd HH:mm" filterControlType="date" name="Log" property="start"> </datatable-column>
						</app-data-table>
					</ion-col>
				</ng-container>
				<div>
					<div class="row" *ngIf="canCreateCheckinLog && !isShowAddNewCheckingLog && checkingLogList.length > 0">
						<div class="cell">
							<ion-button fill="clear" size="small" (click)="isShowAddNewCheckingLog = true">
								<ion-icon slot="start" name="add-circle-outline"></ion-icon>
								{{'Add checkin log' | translate}}
							</ion-button>
						</div>
					</div>
				</div>
				<ion-col size="12" size-sm="12" size-md="12" *ngIf="canCreateCheckinLog && isShowAddNewCheckingLog">
					<app-form-control
						(change)="changeOffice()"
						[field]="{id:'IDOffice',label:'Location',type:'ng-select', bindLabel:'Name', bindValue:'Id',dataSource:officeList,form:formGroup}"
					></app-form-control>
					<app-form-control
						(change)="changeGate($event)"
						[field]="{id:'IDGate',label:'Check -in gate',type:'ng-select', bindLabel:'Name', bindValue:'Id',dataSource:gateViewList,form:formGroup}"
					></app-form-control>
					<app-form-control [field]="{id:'TimeSpan',label:'Log time',type:'time',form:formGroup}"></app-form-control>
					<app-form-control [field]="{id:'Remark',label:'Reason',type:'textarea',form:formGroup}"></app-form-control>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start"></div>

		<div slot="end">
			<ion-button fill="outline" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button
				[strong]="true"
				*ngIf="!formGroup.controls.TimeOffType.value && (canBook|| canCreateCheckinLog)"
				[disabled]="!formGroup.dirty && !formGroup.valid"
				(click)="massShiftAssignment()"
			>
				{{'Save options' | translate}}
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
