.col-account {
	max-width: 250px !important;
	min-width: 250px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.col-name.cell ion-avatar {
	height: calc(10 / 16 * 4rem);
	width: calc(10 / 16 * 4rem);
	margin-right: 8px;
}

.item-status .icon-status {
	margin-right: 10px;
}
.hidden-all {
	text-align: end;
	padding-right: 16px;
}

.header-table {
	.feature {
		top: 0px;
	}
}