<ion-header collapse="fade">
	<ion-toolbar class="no-padding">
		<ion-title>{{'Payroll' | translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button title="{{'Close' | translate}}" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<div id="ng-select-header" style="position: absolute; z-index: 30005"></div>
<ion-content appScrollbarTheme class="ion-padding">
	<ion-grid fixed>
		<form [formGroup]="formGroup">
			<ion-row class="hr-group">
				<ion-col size="12" size-sm size-xl="12">
					<app-form-control
						[field]="{id: 'IDPayrollTemplate', label: 'Payroll template', type: 'ng-select',dataSource:payrollTemplateList, bindLabel:'Name', bindValue:'Id', form: formGroup, appendTo: '#ng-select-header'}"
					>
					</app-form-control>
				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start"></div>

		<div slot="end">
			<ion-button fill="outline" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button [strong]="true" (click)="saveChange()"> {{'Submit' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
