<ion-header *ngIf="item">
	<ion-toolbar class="no-padding" [color]="item.Color">
		<ion-title>{{'Calculate staff payroll' | translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button title="{{'Close' | translate}}" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" fullscreen>
	<div id="ng-select-header" style="position: absolute; z-index: 30005"></div>
	<ion-grid fixed>
		<form [formGroup]="formGroup">
			<ion-row class="hr-group">
				<ion-col size="12" size-sm size-xl="12">
					<app-form-control
						[field]="{id: 'IDPayrollTemplate', label: 'Payroll template', type: 'ng-select',dataSource:payrollTemplateList, bindLabel:'Name', bindValue:'Id', form: formGroup, appendTo: '#ng-select-header'}"
					>
					</app-form-control>
				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-button size="medium" slot="end" (click)="saveChange()">{{'Save' | translate}}</ion-button>
	</ion-toolbar>
</ion-footer>
