<ion-header>
	<app-toolbar [page]="this" >
		<ng-container startTitle>
			<div class="ion-hide-sm-down" style="margin: 0">
				<ng-select
					class="c-input no-check-dirty"
					appendTo="#ng-select-holder"
					[clearable]="false"
					(change)="changeTimesheet()"
					[(ngModel)]="selectedTimesheet"
					[items]="timesheetList"
					bindLabel="Name"
					bindValue=""
					placeholder="{{'Select working schedule' | translate}}"
				>
					<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
						<div *ngIf="i">
							<div>
								<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
								<span [ngOptionHighlight]="search">{{i.Name}}</span>
							</div>
						</div>
					</ng-template>
				</ng-select>
			</div>
		</ng-container>
		<ng-container>
			<ion-button *ngIf="id" (click)="fcToday()" title="{{'Move to current date' | translate}}"> {{'Today' | translate}} </ion-button>
			<ion-button *ngIf="id" (click)="fcPrev()" title="{{'Previous day' | translate}}">
				<ion-icon slot="icon-only" name="chevron-back"></ion-icon>
			</ion-button>
			<ion-button *ngIf="id" (click)="fcNext()" title="{{'Next day' | translate}}">
				<ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
			</ion-button>
			<span class="split ion-hide-sm-down">|</span>
			<ion-button *ngIf="id" (click)="massShiftAssignment()" title="{{'Mass shift allocation' | translate}}">
				<ion-icon slot="icon-only" name="trail-sign-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="id" (click)="massOTAssignment()" title="{{'Register overtime' | translate}}">
				<ion-icon slot="icon-only" name="flash-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="id" (click)="showStaffPickerModal()" title="{{'Add staff into working schedule' | translate}}">
				<ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="showFilter()" title="{{'show-filter' | translate}}">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'funnel':'funnel-outline' "></ion-icon>
			</ion-button>

			<ion-button *ngIf="!pageConfig.showSpinner" title="{{'Over time' | translate}}" (click)="presentPopover($event)">
				<ion-icon slot="icon-only" name="document-attach-outline"></ion-icon>
			</ion-button>

			<ion-popover #Popover [isOpen]="isOpenPopover" (didDismiss)="isOpenPopover = false">
				<ng-template>
					<ion-content scroll-y="false">
						<ion-list lines="none">
							<ion-item (click)="onClickImport()" [button]="true" [detail]="false" title="{{'Import' | translate}}">
								<ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
								<ion-label> {{'Import' | translate}}</ion-label>
								<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="importOvertimeRecords($event)" />
							</ion-item>
							<ion-item (click)="exportOvertimeRecords()" [button]="true" [detail]="false" title="{{'Export' | translate}}">
								<ion-icon slot="start" name="cloud-download-outline"></ion-icon>
								<ion-label> {{'Export' | translate}}</ion-label>
							</ion-item>
						</ion-list>
					</ion-content>
				</ng-template>
				<!-- <ion-button *ngIf="!pageConfig.showSpinner" title="{{'Export' | translate}}" (click)="exportPayrollRecords()">
					<ion-icon slot="icon-only" name="cog-outline"></ion-icon>
				</ion-button> -->
			</ion-popover>
		</ng-container>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="_left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<div id="ng-select-main-page" style="position: absolute"></div>
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print" vertical="top" horizontal="end" slot="fixed">
		<div id="order-detail-page" style="position: absolute"></div>
		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Working schedule' | translate}}</ion-label>

				<!-- <ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus=='[301]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button> -->
			</ion-list-header>
			<ion-item lines="full">
				<div class="c-control">
					<ng-select
						class="c-input no-check-dirty"
						appendTo="#order-detail-page"
						(change)="changeTimesheet()"
						[(ngModel)]="selectedTimesheet"
						[items]="timesheetList"
						bindLabel="Name"
						bindValue=""
						placeholder="{{'Select working schedule' | translate}}"
					>
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div>
									<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
									<span [ngOptionHighlight]="search">{{i.Name}}</span>
								</div>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Shift' | translate}}</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shiftList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}} <small>{{i.Start}}-{{i.End}}</small></h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.ShiftType}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">{{'Location' | translate}}</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of officeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text>
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

		<!-- <ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Loại ca</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shifTypeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list> -->
	</ion-fab>

	<app-page-message
		message="Chưa chọn lịch làm việc"
		subMessage="{{'Please select working schedule to begin' | translate}}"
		*ngIf="!id"
		[itemsLength]="id"
		[showSpinner]="pageConfig.showSpinner"
	>
		<hr />
		<div class="c-control">
			<ng-select
				class="c-input no-check-dirty"
				appendTo="#ng-select-main-page"
				(change)="changeTimesheet()"
				[(ngModel)]="selectedTimesheet"
				[items]="timesheetList"
				bindLabel="Name"
				bindValue=""
				placeholder="{{'Select working schedule' | translate}}"
			>
				<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
					<div *ngIf="i">
						<div>
							<span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
							<span [ngOptionHighlight]="search">{{i.Name}}</span>
						</div>
					</div>
				</ng-template>
			</ng-select>
		</div>
	</app-page-message>
	<full-calendar #calendar [options]="calendarOptions"></full-calendar>
</ion-content>
