<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Allowance & welfare policy' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="4">
						<app-form-control (change)="saveChange()" [field]="{id: 'Code', label: 'Code', type: 'text', form: formGroup}"> </app-form-control>
						<app-form-control (change)="saveChange()" [field]="{id: 'Name', label: 'Name', type: 'text', form: formGroup}"> </app-form-control>
					</ion-col>
					<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="4"></ion-col>
				</ion-row>
			</form>
		</ion-grid>
	</div>

	<div class="row-full shadow full-screen">
		<ion-toolbar color="primary">
			<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
				<ion-segment-button value="s1">
					<ion-label>{{'Benefit list' | translate }}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="s2">
					<ion-label>{{'Other information' | translate}}</ion-label>
				</ion-segment-button>
			</ion-segment>
			<ion-buttons slot="end">
				<ion-button (click)="addLine({})">
					<ion-icon name="add-circle-outline" color="success" slot="start"></ion-icon>
					<ion-label> {{'Add' | translate}}</ion-label>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
		<div *ngIf="segmentView == 's1' && !pageConfig.showSpinner">
			<div id="ng-select-modal" style="position: absolute; z-index: 30005"></div>
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12">
						<ion-list>
							<ion-list-header lines="full" class="ion-no-padding">
								<ion-label>{{'Data field' | translate }}</ion-label>
								<ion-button (click)="toggleReorder()" fill="outline">{{'Sort' | translate }}</ion-button>
							</ion-list-header>
							<ion-accordion-group [multiple]="true" [value]="openedFields" (ionChange)="accordionGroupChange($event)">
								<ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="doReorder($event, formGroup.get('Lines')['controls'])">
									<ng-container *ngFor="let g of formGroup.get('Lines')['controls']; let idx = index;">
										<ion-accordion [value]="g.get('Id').value">
											<ion-item class="clickable" slot="header" [style.order]="g.get('Sort').value" lines="full">
												<!-- <ion-icon [name]="g.get('Icon').value" slot="start" [color]="g.get('Color').value || 'primary'"></ion-icon> -->
												<ion-label style="margin-right: 0" class="ion-text-wrap clickable"
													><span *ngIf="g.get('Id').value">{{idx+1}} - </span>
													<span class="bold"
														>{{g.get('Name').value}}
														<small label>
															<ion-text color="primary" *ngIf="g.get('Type').value == 'formula' || !g.get('Value').value"
																>{{g.get('DefaultValue').value}}</ion-text
															>
															<ion-text color="primary" *ngIf="g.get('Type').value != 'formula' && g.get('Value').value"
																>{{g.get('Value').value}}</ion-text
															>
														</small></span
													>
												</ion-label>

												<ion-button color="danger" (click)="$event.stopPropagation();removeField(g,idx)" fill="clear" slot="end">
													<ion-icon slot="icon-only" name="trash"></ion-icon>
												</ion-button>
												<ion-reorder slot="end"></ion-reorder>
											</ion-item>

											<div
												class="ion-padding"
												slot="content"
												[ngStyle]="{ 'background': !isAccordionExpanded(g.get('Id').value) ? 'none' : 'var(--table-header-background)' }"
											>
												<ion-grid fixed>
													<form [formGroup]="g" (click)="$event.stopPropagation()" [ngClass]="{'transition':show}">
														<ion-row>
															<ion-col size="12" size-xl="4">
																<!-- , treeConfig: {searchFnDefault: true,isTree: true, isCollapsed: true,rootCollapsed:false} -->
																<app-form-control
																	(change)="changeUDF($event,g)"
																	[field]="{id:'IDUDF', label: 'UDF', type : 'ng-select', dataSource:UDFList,bindLabel:'Name',bindValue:'Id', form : g,appendTo:'#ng-select-modal'}"
																></app-form-control>
																<app-form-control
																	(change)="changeType($event,g)"
																	[field]="{id:'Type', label: 'Type', type : 'ng-select',dataSource:udfTypeList,bindLable:'Name',bindValue:'Code',form : g ,appendTo:'#ng-select-modal'}"
																>
																</app-form-control>
																<app-form-control
																	*ngIf="g.get('Type').value != 'Auto'"
																	[field]="{id:'Value', label: 'Value',  type : g.get('ControlType').value,dataSource:UDFList, form : g } "
																	(change)="saveChange2()"
																>
																</app-form-control>
																<app-form-control
																	[field]="{id:'Frequency', type: 'ng-select', dataSource:frequencyList, bindValue:'Code',bindLabel:'Name' ,form : g, appendTo: '#ng-select-modal' }"
																	(change)="saveChange2()"
																></app-form-control>
																<app-form-control [field]="{id:'IsLock', label: 'Lock', type : 'checkbox', form : g }" (change)="saveChange2()">
																</app-form-control>
																<app-form-control
																	[field]="{id:'IsHidden', label: 'Hidden', type : 'checkbox', form : g } "
																	(change)="saveChange2()"
																>
																</app-form-control>
																<app-form-control
																	[field]="{id:'IsIncome', label:'Is income', type: 'checkbox', form : g }"
																	(change)="saveChange2()"
																></app-form-control>
																<app-form-control
																	[field]="{id:'IsCurrency', label:'Is currency', type: 'checkbox', form : g }"
																	(change)="saveChange2()"
																></app-form-control>
																<app-form-control
																	[field]="{id:'IsManagerCanCreateBenefit', label:'Is manager can create benefit', type: 'checkbox', form : g }"
																	(change)="saveChange2()"
																></app-form-control>
															</ion-col>
															<ion-col size="12" size-xl="4">
																<app-form-control [field]="{id:'Name', label: 'Name', type : 'span-text', form : g }"> </app-form-control>
																<app-form-control [field]="{id:'Code', label: 'Code', type : 'text', form : g }"> </app-form-control>
																<app-form-control [field]="{id:'ControlType', label: 'Control type', type : 'span-text',form : g }">
																</app-form-control>
																<app-form-control [field]="{id:'DefaultValue', label: 'Default value',  type : 'span-text',form : g }">
																</app-form-control>
																<app-form-control [field]="{id:'DataType', label: 'Data type',  type : 'span-text',form : g }"> </app-form-control>
																<app-form-control
																	[field]="{id:'Remark', type : 'textarea', label: 'Remark', form : g }"
																	(change)="saveChange2()"
																></app-form-control>
															</ion-col>
														</ion-row>
													</form>
												</ion-grid>
											</div>
										</ion-accordion>
									</ng-container>
								</ion-reorder-group>
							</ion-accordion-group>
						</ion-list>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<div *ngIf="segmentView == 's2'">
			<ion-grid fixed>
				<form [formGroup]="formGroup">
					<ion-row class="hr-group">
						<ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="3">
							<ion-list-header class="ion-no-padding">
								<ion-label color="primary">{{'Other information' | translate}}</ion-label>
							</ion-list-header>
						</ion-col>
						<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="4">
							<app-form-control [field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
							<app-form-control [field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
							<app-form-control [field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
							<app-form-control [field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
						</ion-col>
						<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="4">
							<app-form-control (change)="saveChange()" [field]="{id: 'Remark', label: 'Remark', type: 'textarea', form: formGroup}"> </app-form-control>
						</ion-col>
					</ion-row></form
			></ion-grid>
		</div>
	</div>
</ion-content>
