<ion-header [translucent]="true">
	<app-toolbar [page]="this">
		<ion-button endSlot title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
			<ion-icon slot="icon-only" name="close"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<ion-refresher [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<app-data-table
		class="box-shadow responsive"
		[rows]="items"
		[trackBy]="'Id'"
		[(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
		(dataInfinite)="loadData($event)"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		(selectedRowsChange)="showCommandBySelectedRows($event)"
	>
		<datatable-column [checkbox]="true" name=""></datatable-column>

		<datatable-column class="col-name" name="Full name" property="_Staff.FullName" [width]="staffColumnWidth">
			<ng-template let-i="row" datatable-cell-template>
				<ion-avatar class="avatar" slot="start">
					<ion-img #img [src]="i._Staff.Avatar" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
				</ion-avatar>
				<div class="staff-text">
					<span class="bold">{{i._Staff.FullName}}</span>
					<small *ngIf="i._Staff.Code" class="no-warp">{{i._Staff.Code}}</small>
					<app-branch-breadcrumbs
						*ngIf="jobTitleId(i._Staff) as id"
						[maxItems]="3"
						[Id]="id"
						[Items]="env.jobTitleList"
					></app-branch-breadcrumbs>
				</div>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-remark" name="Log time" property="LogTime" filterControlType="date" [minWidth]="remarkMinWidth" [maxWidth]="remarkMaxWidth">
			<ng-template let-i="row" datatable-cell-template>
				<div class="log-note">
					<span class="log-time">{{ i.LogTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
					<span class="log-remark" *ngIf="i.Remark">{{ i.Remark }}</span>
				</div>
			</ng-template>
		</datatable-column>
		<datatable-column class="col-status" name="Status" property="IsValidLog" [width]="statusColumnWidth">
			<ng-template let-i="row" datatable-cell-template>
				<ion-badge [color]="statusBadge(i.IsValidLog).color">{{ statusBadge(i.IsValidLog).label | translate }}</ion-badge>
			</ng-template>
		</datatable-column>
	</app-data-table>

	<div class="ion-padding"></div>
</ion-content>
