<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[isTreeList]="true"
			[isQueryLocalOnly]="true"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<input class="c-checkbox" type="checkbox" [(ngModel)]="i.checked" (change)="changeSelection($event,i)" />
				</ng-template>
			</datatable-column>
			<!-- <datatable-column class="col-id" name="Id" property="Id" [navLink]="pageConfig.pageName"></datatable-column> -->

			<datatable-column class="col-name" name="Time sheet" property="Id">
				<ng-template datatable-header-template>
					<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'" (click)="toggleRowAll()"></ion-icon>
					<span (click)="toggleRowAll()">{{'Name' | translate}}</span>
				</ng-template>
				<ng-template let-i="row" datatable-cell-template>
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
					<ion-icon
						(click)="toggleRow(items, i, true);"
						class="min-btn clickable"
						[name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'"
						*ngIf="i.HasChild"
					></ion-icon>
					<ion-icon class="min-btn clickable" [name]="''" *ngIf="!i.HasChild"></ion-icon>
					<ng-container *ngIf="!i.IDParent ">
						<ion-text *ngIf="i.HasChild && !i.IDParent" (click)="showModal(i);" class="clickable" [ngClass]="i.HasChild? ('bold ') : ('')" [color]="i.Color"
							>{{i.Name | translate}}</ion-text
						>
						<ion-text *ngIf="!i.HasChild" (click)="showModal( i);" class="clickable" [ngClass]="i.HasChild? ('bold ') : ('')" [color]="i.Color"
							>{{i.Name | translate}}</ion-text
						>
					</ng-container>
					<ion-text *ngIf="i.IDParent" (click)="navTo(i)">{{i.Name | translate}}</ion-text>
				</ng-template>
				<!-- <ng-template let-i="row" datatable-cell-template> {{i._Timesheet.TimesheetName | translate}} </ng-template> -->
			</datatable-column>

			<datatable-column class="col-date" format="dd-MM-yyyy" name="Start" property="Start"> </datatable-column>
			<datatable-column class="col-date" format="dd-MM-yyyy" name="End" property="End"> </datatable-column>
			<datatable-column
				class="col-status"
				name="Status"
				property="Id"
				filterControlType="ng-select"
				[filterDataSource]="statusList"
				filterBindValue="Code"
				filterBindLabel="Name"
			>
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge *ngIf="i.IDParent" [color]="i.StatusColor" [title]="i.StatusText"> {{i.StatusText | translate}} </ion-badge>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
</ion-content>
<!-- 
<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			
			<div *ngFor="let i of items; let j = index;" class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
				<div class="col-checkbox cell">
					<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox" />
				</div>
				<div class="col-checkbox cell" (click)="showModal(i)">
					<ion-icon color="danger" class="min-btn" name="pencil-outline"></ion-icon>
				</div>
				<div (click)="nav('timesheet-cycle/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>
				<div (click)="nav('timesheet-cycle/'+i.Id,'forward')" class="col-date cell">{{i.Start}}</div>
				<div (click)="nav('timesheet-cycle/'+i.Id,'forward')" class="col-date cell">{{i.End}}</div>
				<div (click)="nav('timesheet-cycle/'+i.Id,'forward')" class="col-name cell">{{i.Name}}</div>
				<div class="col-remark cell">
					<a (click)="nav('timesheet-cycle/'+i.Id+'/'+t.Id,'forward')" *ngFor="let t of i.TimesheetList">{{t.Name}}</a>
				</div>
			</div>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content> -->
