<ion-header>
	<app-detail-toolbar [page]="this"></app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="staff-time-off-detail-page" style="position: absolute"></div>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<div class="row-full shadow full-screen">
			<div class="ion-padding">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<ion-row>
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Time off' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>
							<ion-col size="12" size-md="4">
								<app-form-control
									[field]="{id: 'IDStaff',label: 'Staff', type : 'ng-select-staff',dataSource: staffDataSource, bindLabel: 'FullName',bindValue: 'Id', clearable: true, form : formGroup,appendTo:'#staff-time-off-detail-page'}"
									(change)="staffChange($event)"></app-form-control>
								<app-form-control
									[field]="{id: 'Date', label: 'Date', type: 'datetime-local', form: formGroup}"
									(change)="saveChange()"></app-form-control>
							</ion-col>
							<ion-col size="12" size-md="4">
								<div class="c-control">
									<label class="c-label" for="Start">{{'Starting time' | translate}}
										<span
											*ngIf="!formGroup.controls.Start.valid && !formGroup.controls.Start.pending && (formGroup.controls.Start.dirty || submitAttempt)"
											ion-text color="danger">(*)</span>
									</label>
									<input class="c-input" id="Start" (change)="checkStartEnd();" formControlName="Start"
										type="time" step="7" />
								</div>

								<div class="c-control">
									<label class="c-label" for="End">{{'Finishing time' | translate}}
										<span
											*ngIf="!formGroup.controls.End.valid && !formGroup.controls.End.pending && (formGroup.controls.End.dirty || submitAttempt)"
											ion-text color="danger">(*)</span>
									</label>
									<input class="c-input" id="End" (change)="checkStartEnd();" formControlName="End"
										type="time" step="7" />
								</div>
							</ion-col>

						</ion-row>
					</form>
					<!-- Other information -->
					<ion-row class="hr-group" *ngIf="item.Id">
						<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
							<ion-list-header class="ion-no-padding">
								<ion-label color="primary">{{'Other information' | translate}}</ion-label>
							</ion-list-header>
						</ion-col>
						<ion-col size="12" size-sm size-xl="4">
							<app-form-control
								[field]="{id: 'CreatedBy', type: 'text', label: 'Created by', form: formGroup }"></app-form-control>
							<app-form-control
								[field]="{id: 'CreatedDate', type: 'span-datetime', label: 'Created date', form: formGroup }"></app-form-control>
							<app-form-control
								[field]="{id: 'ModifiedBy', type: 'text', label: 'Last modified by', form: formGroup }"></app-form-control>
							<app-form-control
								[field]="{id: 'ModifiedDate', type: 'span-datetime', label: 'Last modified date', form: formGroup }"></app-form-control>
						</ion-col>
						<ion-col size="12" size-sm size-xl="4">
							<app-form-control
								[field]="{id: 'IDBranch', type: 'branch-breadcrumbs', label: 'Branch', form: formGroup, dataSource:env.branchList }"></app-form-control>
							<app-form-control [field]="{id: 'Remark', type: 'textarea', form: formGroup }"
								(change)="saveChange()"></app-form-control>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>