.avatar {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  max-width: 40vw;
  max-height: 40vw;

  border-radius: 100px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 4px var(--ion-color-secondary);
}

.full-name {
  margin-top: 20px;
  font-size: calc(10/16 * 1.9rem);
  font-weight: bold;
}

.voucher-info {
  font-size: calc(10/16 * 2rem);
  text-align: center;

  small {
    margin-top: 20px;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: bold;
  }
}
