.full-screen {
	min-height: calc(100vh - 97px);
}

ion-avatar {
	height: calc(10 / 16 * 4rem);
	width: calc(10 / 16 * 4rem);
	margin-right: 8px;
}

::ng-deep {
	datatable-header-cell {
		height: calc(10 / 16 * 4rem);
	}
}