<div id="ng-select-table" style="position: absolute; z-index: 30005"></div>

<ion-col size="12" size-sm size-xl="8">
	<div class="table-contain">
		<app-data-table *ngIf="!pageConfig.showSpinner" class="box-shadow responsive" [rows]="items" [(query)]="query" [showSpinner]="pageConfig.showSpinner">
			<datatable-column class="col-name" name="Fullname" property="FullName "></datatable-column>
			<datatable-column class="col-code" name="Gender" property="Gender">
				<ng-template let-i="row" datatable-cell-template>
					<span *ngIf="i.Gender">{{ 'Male' | translate }}</span>
					<span *ngIf="!i.Gender">{{ 'Female' | translate }}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-date" format="dd-MM-yyyy" name="DOB" property="DOB"></datatable-column>
			<datatable-column class="col-code" name="Relative" property="Relative"></datatable-column>
			<datatable-column class="col-icon" name="" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-button (click)="editRow(i)" size="small" title="{{ 'Edit' | translate }}" fill="clear"> <ion-icon slot="icon-only" name="pencil"></ion-icon> </ion-button>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-icon" name="" property="Id">
				<ng-template let-i="row" datatable-cell-template>
					<ion-button (click)="deleteRow(i)" size="small" title="{{ 'Remove' | translate }}" fill="clear">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>
</ion-col>
<ion-col size="0" size-md="0" size-lg="0" size-xl="3"></ion-col>
<ion-col size="12" size-xl="4">
	<ion-button (click)="addRow()">
		{{ 'Add family information' | translate }}
	</ion-button>
</ion-col>
<ion-modal [isOpen]="isShowModal" (willDismiss)="dismissModal()">
	<ng-template>
		<ion-header>
			<ion-toolbar>
				<ion-title>{{ 'Information' | translate }} </ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="dismissModal()">
						<ion-icon name="close"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">
			<section class="table table-contain responsive">
				<div class="ion-no-padding" slot="content">
					<form [formGroup]="formGroup">
						<ion-row>
							<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="6">
								<app-form-control
									[field]="{
										id: 'FirstName',
										label: 'First name',
										type: 'text',
										form: formGroup,
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{
										id: 'LastName',
										label: 'Last name',
										type: 'text',
										form: formGroup,
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{
										id: 'MiddleName',
										label: 'Middle name',
										type: 'text',
										form: formGroup,
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{ id: 'DOB', label: 'Date of birth', type: 'datetime-local', form: formGroup }"
									(change)="saveChange($event)"
								></app-form-control>

								<app-form-control
									[field]="{
										id: 'Relative',
										label: 'Relative',
										dataSource: relativeTypeList,
										bindLabel: 'Name',
										bindValue: 'Name',
										type: 'ng-select',
										form: formGroup,
										placeholder: 'Select relative',
										appendTo: '#ng-select-table',
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{
										id: 'TypeOfPassport',
										label: 'Type of passport',
										dataSource: passportTypeList,
										bindLabel: 'Name',
										bindValue: 'Name',
										type: 'ng-select',
										form: formGroup,
										placeholder: 'Select type of passport',
										appendTo: '#ng-select-table',
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>

								<app-form-control
									[field]="{
										id: 'IDCountryOfIssuePassport',
										label: 'Country of issue passport',
										dataSource: countryList,
										bindLabel: 'Name',
										bindValue: 'Id',
										type: 'ng-select',
										form: formGroup,
										placeholder: 'Select country of issue passport',
										appendTo: '#ng-select-table',
									}"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<div class="c-control">
									<input (change)="saveChange($event)" id="GenderM" type="radio" [value]="true" formControlName="Gender" class="c-checkbox" />
									<label class="c-label radio" for="GenderM">
										<span>{{ 'Male' | translate }}</span>
									</label>

									<input (change)="saveChange($event)" id="GenderF" type="radio" [value]="false" formControlName="Gender" class="c-checkbox" />
									<label class="c-label radio" for="GenderF">
										<span>{{ 'Female' | translate }}</span>
										<span
											*ngIf="!formGroup.controls.Gender.valid && !formGroup.controls.Gender.pending && (formGroup.controls.Gender.dirty || submitAttempt)"
											ion-text
											color="danger"
											>(*)</span
										>
									</label>
								</div>
							</ion-col>
							<ion-col size-xs="12" size-sm="6" size-md="12" size-lg="6" size-xl="6">
								<app-form-control
									[field]="{ id: 'IdentityCardNumber', label: 'Identity card number', type: 'text', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control [field]="{ id: 'PlaceOfIssueID', label: 'Place of issue ID', type: 'text', form: formGroup }" (change)="saveChange($event)">
								</app-form-control>
								<app-form-control
									[field]="{ id: 'DateOfIssueID', label: 'Date of issue ID', type: 'datetime-local', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{ id: 'DateOfExpiryID', label: 'Date of expiry ID', type: 'datetime-local', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>

								<app-form-control [field]="{ id: 'PassportNumber', label: 'Passport number', type: 'text', form: formGroup }" (change)="saveChange($event)">
								</app-form-control>
								<app-form-control
									[field]="{ id: 'PlaceOfIssuePassport', label: 'Place of issue passport', type: 'text', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{ id: 'DateOfIssuePassport', label: 'Date of issue passport', type: 'datetime-local', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>
								<app-form-control
									[field]="{ id: 'DateOfExpiryPassport', label: 'Date of expiry passport', type: 'datetime-local', form: formGroup }"
									(change)="saveChange($event)"
								>
								</app-form-control>
							</ion-col>
							<ion-col size="12">
								<div class="c-control" *ngIf="pageConfig.canEdit">
									<ion-button (click)="removeFamily()" size="small" fill="outline">
										<ion-icon slot="start" name="trash"></ion-icon>
										{{ 'Delete this relative' | translate }}
									</ion-button>
								</div>
							</ion-col>
						</ion-row>
					</form>
				</div>
			</section>
		</ion-content>
		<ion-footer>
			<ion-toolbar>
				<ion-button color="warning" size="default" slot="end" (click)="dismissModal(true)"> {{ 'Save' | translate }} </ion-button>
			</ion-toolbar>
		</ion-footer>
	</ng-template>
</ion-modal>
