<ion-header>
	<app-toolbar [page]="this">
		<ion-button *ngIf="!pageConfig.showSpinner" title="{{'Open payroll config' | translate}}" (click)="nav('staff-payroll/config/'+item.Id,'forward')">
			<ion-icon slot="icon-only" name="cog-outline"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>
<ion-content appScrollbarTheme >
	<ion-refresher [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			*ngIf="!pageConfig.showSpinner"
			class="box-shadow responsive"
			[rows]="item.StaffRecordPayroll"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-name flex-break" name="Staff" property="_Staff">
				<ng-template let-i="row" datatable-cell-template>
					<ion-avatar class="avatar" slot="start">
						<ion-img #img [src]="i._Staff.Avatar" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
					</ion-avatar>
					<div>
						<span class="bold">{{i._Staff.FullName}}</span>
						<small *ngIf="i._Staff.Code" class="no-warp"> {{i._Staff.Code}}</small>
						<br />
						{{i._Staff.JobTitle}}
					</div>
				</ng-template>
			</datatable-column>

			<ng-container *ngFor="let c of item.StaffPayrollConfig ; let idx = index">
				<datatable-column class="col-remark" [name]="c.Name" property="Id">
					<ng-template let-i="row" datatable-cell-template>
						<ng-container *ngIf="c.DataType == 'int' || c.DataType == 'number' ; else textTemplate"> {{c.UDFValue | number:'1.0-0'}} </ng-container>
						<ng-template #textTemplate> {{c.UDFValue}} </ng-template>
					</ng-template>
				</datatable-column>
			</ng-container>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
