<ion-header>
	<app-toolbar [page]="this">
		<ion-button *ngIf="!pageConfig.showSpinner" title="{{'Import / Export' | translate}}" (click)="presentPopover($event)">
			<ion-icon slot="icon-only" name="document-attach-outline"></ion-icon>
		</ion-button>

		<ion-button *ngIf="!pageConfig.showSpinner" title="{{'Calc salary' | translate}}" (click)="calcSalary()">
			<ion-icon slot="icon-only" name="calculator-outline"></ion-icon>
		</ion-button>
		<ion-button *ngIf="!pageConfig.showSpinner" title="{{'Open payroll config' | translate}}" (click)="nav('staff-payroll/config/'+item.Id,'forward')">
			<ion-icon slot="icon-only" name="cog-outline"></ion-icon>
		</ion-button>
		<ion-popover #Popover [isOpen]="isOpenPopover" (didDismiss)="isOpenPopover = false">
			<ng-template>
				<ion-content scroll-y="false">
					<ion-list lines="none">
						<ion-item *ngIf="pageConfig.canEdit" (click)="onClickImport()" [button]="true" [detail]="false" title="{{'Import' | translate}}">
							<ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
							<ion-label> {{'Import' | translate}}</ion-label>
							<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="importPayrollRecords($event)" />
						</ion-item>
						<ion-item (click)="exportPayrollRecords()" [button]="true" [detail]="false" title="{{'Export' | translate}}">
							<ion-icon slot="start" name="cloud-download-outline"></ion-icon>
							<ion-label> {{'Export' | translate}}</ion-label>
						</ion-item>
						<ion-item  *ngIf="pageConfig.canEdit" (click)="onClickImportInput()" [button]="true" [detail]="false" title="{{'Import input config' | translate}}">
							<ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
							<ion-label> {{'Import input config' | translate}}</ion-label>
							<input class="hide-all" #importInputFile type="file" accept=".xlsx" (change)="importPayrollRecordInput($event)" />
						</ion-item>
						<ion-item (click)="exportPayrollRecords('Input')" [button]="true" [detail]="false" title="{{'Export input config' | translate}}">
							<ion-icon slot="start" name="cloud-download-outline"></ion-icon>
							<ion-label> {{'Export input config' | translate}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-content>
			</ng-template>
			<!-- <ion-button *ngIf="!pageConfig.showSpinner" title="{{'Export' | translate}}" (click)="exportPayrollRecords()">
				<ion-icon slot="icon-only" name="cog-outline"></ion-icon>
			</ion-button> -->
		</ion-popover>
	</app-toolbar>
</ion-header>
<ion-content appScrollbarTheme scroll-x="true">
	<ion-refresher [disabled]="!pageConfig.refresher" slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			*ngIf="!pageConfig.showSpinner"
			class="box-shadow responsive"
			[rows]="item.StaffRecordPayroll"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-name flex-break" name="Staff" property="_Staff">
				<ng-template let-i="row" datatable-cell-template>
					<ion-avatar class="avatar" slot="start">
						<ion-img #img [src]="i._Staff.Avatar" (ionError)="img.src = 'assets/avartar-empty.jpg'"></ion-img>
					</ion-avatar>
					<div>
						<span class="bold">{{i._Staff.FullName}}</span>
						<small *ngIf="i._Staff.Code" class="no-warp"> {{i._Staff.Code}}</small>
						<br />
						{{i._Staff.JobTitle}}
					</div>
				</ng-template>
			</datatable-column>

			<!-- <ng-container *ngFor="let c of item.StaffRecordPayroll?._ListUDFValue ; let idx = index">
				<datatable-column class="col-remark" [name]="c.Name" property="Id">
					<ng-template let-i="row" datatable-cell-template>
						<ng-container *ngIf="c.DataType == 'int' || c.DataType == 'number' || c.DataType == 'decimal' ; else textTemplate">
							{{c.UDFValue | number:'1.0-0'}}
						</ng-container>
						<ng-template #textTemplate> {{c.UDFValue}} </ng-template>
					</ng-template>
				</datatable-column>
			</ng-container> -->

			<ng-container *ngFor="let c of item.StaffPayrollConfig ; let idx = index">
				<datatable-column class="col-remark" [name]="c.Name" property="_ListUDFValue">
					<ng-template let-i="row" datatable-cell-template>
						<ng-container *ngIf="c.DataType == 'int' || c.DataType == 'number' || c.DataType == 'decimal' ; else textTemplate">
							{{i._ListUDFValue[c.Code] || c.UDFValue | number:'1.0-0'}}
						</ng-container>
						<ng-template #textTemplate> {{ i._ListUDFValue[c.Code] ||c.UDFValue}} </ng-template>
					</ng-template>
				</datatable-column>
			</ng-container>
		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
