<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}"
	forceOverscroll="false">


	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table class="box-shadow responsive" [rows]="items" [trackBy]="'Id'" [(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner" [showFilter]="pageConfig.isShowSearch" [(query)]="query"
			(dataInfinite)="loadData($event)" (filter)="onDatatableFilter($event)" (sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)">
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<datatable-column class="col-name" name="Name" property="Name">
				<ng-template let-i="row" datatable-cell-template>
					<ion-text [color]="i.Color"> {{i.Name}} </ion-text>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-remark" name="Remark" property="Remark">
				<ng-template let-i="row" datatable-cell-template>
					<div [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]">
						<div>{{i.Remark}}</div>
					</div>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-code" name="Shift type" property="Type">

			</datatable-column>
			<datatable-column class="col-custom" name="Standard working days" property="StdPoint">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Standard working days' | translate}}:</span>
					<span>{{i.StdPoint}}</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-date" format="HH:mm" filterControlType="date" name="Starting time"
				property="Start">
			</datatable-column>
			<datatable-column class="col-date" format="HH:mm" filterControlType="date" name="Finishing time"
				property="End">
			</datatable-column>

			<datatable-column class="col-custom" name="Breaks" property="Breaks">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Breaks' | translate}}:</span>
					<span>{{i.Breaks}}</span>
				</ng-template>
			</datatable-column>


			<datatable-column class="col-custom" name="Earliest shift starting time" property="EarliestCheckIn">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Earliest shift starting time' | translate}}:</span>
					<span>{{i.EarliestCheckIn}}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom" name="Earliest shift ending time" property="EarliestCheckOut">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Earliest shift ending time' | translate}}:</span>
					<span>{{i.EarliestCheckIn}}</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-custom" name="Latest shift starting time" property="LatestCheckIn">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Latest shift starting time' | translate}}:</span>
					<span>{{i.LatestCheckIn}}</span>
				</ng-template>
			</datatable-column>
			<datatable-column class="col-custom" name="Latest shift ending time" property="LatestCheckOut">
				<ng-template let-i="row" datatable-cell-template>
					<span class="sp-custom">{{'Latest shift ending time' | translate}}:</span>
					<span>{{i.LatestCheckOut}}</span>
				</ng-template>
			</datatable-column>

			<datatable-column class="col-icon" name="IsOvernightShift" property="IsOvernightShift">
				<ng-template let-i="row" datatable-cell-template>
					<ion-icon *ngIf="i.IsOvernightShift" [name]="i.Icon || 'moon'" [color]="i.Color || 'purple'"
						slot="start"></ion-icon>
				</ng-template>
			</datatable-column>


		</app-data-table>
	</div>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)"
		[disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>