<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
			<ion-button color="dark"> {{viewTitle}} </ion-button>
		</ion-buttons>

		<ion-buttons slot="primary" *ngIf="fc">
			<ion-button (click)="fcToday()" title="{{'Move to current date' | translate}}"> {{'Today' | translate}} </ion-button>
			<!-- <ion-button (click)="pickDate()" title="{{'...' | translate}}"> {{'Pick date' | translate}} </ion-button> -->
			<ion-button tollbarSelected title="{{'Copy' | translate}}" (click)="presentPickDatePopover($event)">... </ion-button>
			<ion-button (click)="fcPrev()" title="{{'Previous day' | translate}}">
				<ion-icon slot="icon-only" name="chevron-back"></ion-icon>
			</ion-button>
			<ion-button (click)="fcNext()" title="{{'Next day' | translate}}">
				<ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-popover #pickDatePopover [isOpen]="isOpenPickDatePopover" (didDismiss)="isOpenPickDatePopover = false">
			<ng-template>
				<ion-content class="ion-padding" scroll-y="false">
					<ion-list>
						<div>
							<ion-item>
								<div class="c-control">
									<label class="c-label">
										{{ 'Start date' | translate }}
										<input class="c-input" [(ngModel)]="this.pickedDate" type="date" class="ion-padding" />
									</label>
								</div>
							</ion-item>
						</div>
						<ion-button class="ion-margin" size="small" expand="block" (click)="dismissDatePicker(true)">Apply</ion-button>
					</ion-list>
				</ion-content>
			</ng-template>
		</ion-popover>
	</ion-toolbar>
</ion-header>
<ion-content slot="fixed" fullscreen="true" scrollY="false" appScrollbarTheme class="_left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<div class="calendar-holder">
		<full-calendar #calendar [options]="calendarOptions"></full-calendar>
	</div>
</ion-content>
