<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
			<ion-button color="dark">
				{{viewTitle}}
			</ion-button>
		</ion-buttons>

        <ion-buttons slot="primary" *ngIf="fc">
            <ion-button (click)="fcToday()" title="{{'erp.app.pages.hrm.personal-scheduler.fc-today' | translate}}">
                {{'erp.app.pages.hrm.personal-scheduler.fc-today-button' | translate}}
            </ion-button>
            <ion-button (click)="fcPrev()" title="{{'erp.app.pages.hrm.personal-scheduler.fc-prev' | translate}}">
                <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
            <ion-button (click)="fcNext()" title="{{'erp.app.pages.hrm.personal-scheduler.fc-next' | translate}}">
                <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content slot="fixed" fullscreen="true" scrollY="false" appScrollbarTheme class="_left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
    <div class="calendar-holder">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
</ion-content>